<!DOCTYPE html>
<html class="no-js" lang="en_AU" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Adept</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="pinterest" content="nopin" />
    <link rel="stylesheet" href="{{url_for('static' ,filename='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="src/style.css" />
    <!-- Fav Icon -->
    <link rel="icon" type="image/x-icon" href="{{url_for('static' ,filename='Adept.png')}}" />
</head>
<body data-instant-intensity="mousedown">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow py-3">
        <div class="container">
            <a class="navbar-brand" href="/"><p class="fs-2" style="color:rgba(9, 16, 198);">Adept</p></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-0 ms-sm-0 me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/"><p class="fs-5">Home</p></a>
                    </li>   
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/about"><p class="fs-5">About</p></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/govtblob"><p class="fs-5">Govt Blob</p></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/Findjobs"><p class="fs-5">Find Jobs</p></a>
                    </li>  
                    <li class="nav-item">
						<a class="nav-link" aria-current="page" href="/chatbot"><p class="fs-5">Chat Bot</p></a>
					</li>   
                    
	                                 
                </ul>               
                {% if 'email' in session %}
                <a class="btn btn-success me-2" href="/logout" type="submit">Logout</a>
            {% else %}

            <a class="btn btn-success me-2" href="/login" type="submit">Login</a>
            {% endif %}
                <a class="btn btn-success" href="/postjobs" type="submit">Post a Job</a>
            </div>
        </div>
    </nav>
</header>

<section class="section-0 lazy d-flex bg-image-style dark align-items-center "   class="" data-bg="assets/images/banner5.jpg">
    <img src="{{url_for('static', filename='img.jpg')}}" alt="Image1">

    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-8">
                <h1>Adept Team Members</h1>
             </div>
        </div>
    </div>
</section>




 

<section class="section-3  py-5">
    <div class="container">
        <h2>Our Team</h2>
        <div class="row pt-5">
            <div class="job_listing_area">                    
                <div class="job_lists">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card border-0 p-3 shadow mb-4">
                                <div class="card-body">
                                    <h3 class="border-0 fs-5 pb-2 mb-0">M.Sanjai <br> [ Cloud Engineer ]</h3>
                        
                                   <p>Cloud engineers specialize in designing and managing cloud computing systems. They leverage platforms like AWS, Azure,etc  to optimize infrastructure and deploy scalable solutions. Cloud engineers focus on enhancing reliability, security, and efficiency, enabling organizations to harness the full potential of cloud technologies. main role is building and maintaining  cloud-based architectures.




                                   </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="card border-0 p-3 shadow mb-4">
                                <div class="card-body">
                                    <h3 class="border-0 fs-5 pb-2 mb-0">R.Aparna <br> [ Frontend Developer ]</h3>
                                    <p>Frontend developers are crucial in crafting the visual and interactive aspects of websites or applications. They work with languages like HTML, CSS, and JavaScript to ensure a seamless user experience. By collaborating with designers, they bring creative concepts to life and optimize interfaces for responsiveness. Frontend developers play a key role in shaping how users engage with digital platforms.




 

                                        
                                    </p>
                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card border-0 p-3 shadow mb-4">
                                <div class="card-body">
                                    <h3 class="border-0 fs-5 pb-2 mb-0">S.Sindhu <br>[ Backend Developer ]</h3>
                                    <p>Backend developers are the architects behind the scenes, crafting the server-side logic and database connections that power applications. They use languages like Python, Ruby, or Java to handle data processing and server management. Ensuring the smooth functioning of databases and handling server requests, backend developers contribute to the overall functionality of websites and applications.</p>
                            
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card border-0 p-3 shadow mb-4">
                                <div class="card-body">
                                    <h3 class="border-0 fs-5 pb-2 mb-0">K.Anand Kumar <br>[ Tester ]</h3>
                                    <p>Software testers play a crucial role in the development process, ensuring the quality and reliability of software. They meticulously test applications, identify defects, and collaborate with developers to address issues. Utilizing both manual and automated testing methods, testers contribute to delivering a seamless and error-free user experience. Their expertise enhances the overall reliability and functionality of software products.</p>
                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
                        

<footer class="bg-dark py-3 bg-2">
<div class="container">
    <p class="text-center text-white pt-3 fw-bold fs-6">© 2024 Adept, all right reserved</p>
</div>
</footer> 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>