<!DOCTYPE html>
<html class="no-js" lang="en_AU">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Adept</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="pinterest" content="nopin" />
    <link rel="stylesheet" href="{{url_for('static' ,filename='style.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="static/style.css" />
  <!-- Fav Icon -->
  <link rel="icon" type="image/x-icon" href="{{url_for('static' ,filename='Adept.png')}}" />
    
    
    <style type="text/css">
        #carouselExampleCaptions
        img
        {
           height: 450px;
           border-radius: 20px;
        }
    </style>
</head>
<body data-instant-intensity="mousedown">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow py-3">
		<div class="container">
			<a class="navbar-brand" href="/"><p class="fs-2" style="color:rgba(9, 16, 198);">Adept</p></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-0 ms-sm-0 me-auto mb-2 mb-lg-0 ms-lg-4">
                    
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="/"><p class="fs-5">Home</p></a>
					</li>	
                    <li class="nav-item">
						<a class="nav-link" aria-current="page" href="/about"><p class="fs-5">About</p></a>
					</li>	
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/govtblob"><p class="fs-5">Govt Blob</p></a>
                    </li> 
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="/Findjobs"><p class="fs-5">Find Jobs</p> </a>
					</li>	
          <li class="nav-item">
						<a class="nav-link" aria-current="page" href="/chatbot"><p class="fs-5">Chat Bot</p></a>
					</li>
          								
                    
				</ul>				
               
				{% if 'email' in session %}
                <a class="btn btn-success me-2" href="/logout" type="submit">Logout</a>
            {% else %}

            <a class="btn btn-success me-2" href="/login" type="submit">Login</a>
            {% endif %}
				<a class="btn btn-success my-2 my-sm-0" href="/postjobs" type="submit">Post a Job</a>
			</div>
		</div>
	</nav>
</header>

<section class="section-0 lazy d-flex bg-image-style dark align-items-center "   class="" data-bg="assets/images/banner5.jpg">
    <img src="{{url_for('static', filename='img.jpg')}}" alt="Image1">

    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-8">
                <h1>Government Job Information</h1>
             </div>
        </div>
    </div>
</section>
  


  

    
   <!-- <center> <button class="button button2"><a href="">Tamil</button></center> -->
    
  <!-- <center><h1><b style="color:rgb(9, 16, 198);" >Government job information</b></h1></center> -->
</div>

<div class="row">
  <div class="center">
    <div class="card">
      <h2 style="color:rgb(9, 16, 198);">How To Prepare for Govt Jobs? Quick Guide for SSC, IBPS</h2>
    
    
      <p> Every year millions of aspirants appear for various government jobs or Sarkari Naukri exams across India. Government jobs are perceived as stable with great opportunities for growth at both personal and professional levels. Hence, these jobs are highly sought after by the aspirants. Therefore, they look for the perfect strategy help on how to prepare for Govt Jobs.

Every year, various exams are conducted by IBPS, SSC, RRB, UPSC, etc., to recruit lakhs of candidates for various government posts. Not every candidate is able to turn their aspirations into reality. The way they prepare for Government job exams and their preparation approach make them stand out from the crowd. Keeping that in mind, we are providing an article that will give you an idea of how to prepare for government jobs. Read on to find out.</p>
      <p> Government jobs in India are considered to be a boon mainly due to the security and stability that comes with them. But the real issue lies in the intense competition that tests you in this whole process. Every year millions of candidates appear for different government recruitment exams, where some candidates eventually qualify but most of them could not make it to the final list.</p>
    
    <h2 style="color:rgb(9, 16, 198);"> Create The Master Plan To Crack Govt Job Exam</h2>
    <p><ol>
        <li>Segregate the topics based on your strengths and weaknesses. Also, mark the most important topics for the exam.</li>
             <li>Allocate a fixed time for each section as you need to clear the sectional cut off along with the overall cut off. So, you cannot skip any section. Allocate time based on your weaknesses and strengths. Refer to the timetable given below to get an idea.</li>
             <ul>
      
             <li> a. General Awareness – 1 hour</li>
              <li>b. General English – 1 hour</li>
             <li> c. Reasoning Ability – 2 hours</li>
            <li>  d. Quantitative Aptitude – 3 hours</li>
              <li>e. Computer Awareness – 1 hour</li></ul>
              <li>Understand the concepts – clear the theory behind them.</li>
              <li>After you are done with a particular topic, go through examples and practice sufficient questions</li>
              <li>Take mock tests on a regular basis to see where you are standing</li>
              <li>Analyze mock test results and work on your mistakes and weakness</li>
              <li>Revise on a regular basis, even those concepts which you are confident about.</li>
        
      </ol> </p>
      <h2 style="color:rgb(9, 16, 198);"> Tips To Crack Interviews</h2>
      <p>Imagine a situation, where you get very good marks in a written exam but do not perform well in a Personal Interview. Nobody would like to be in such a situation. Hence, to avoid this, aspirants should take Personal Interviews seriously<p>

        The following tips can help you to prepare for Personal Interview round of Govt Jobs:
        <ol>
        
        <li> Go through the official website of the government organization for which you are appearing for the exam</li>
        <li>Search for news and stay updated with what they are doing as well as their history</li>
        <li>Read the job description for which you applied as there are chances that the interview panel will ask questions related to what the candidate is supposed to do after joining</li>
        <li> Practice mock interview session and read about the past year interview questions</li>
        <li>Last and the most important thing is to prepare a few questions to ask when the panel gives you the opportunity to put across your questions. Make sure that you sound sensible.
        Test Informative Blog</li>
        </ol>
        <h2 style="color:rgb(9, 16, 198);">Which government job is easy to get without exam?</h2>
        <p>Which government job is easy to get without exam?
            The sports quota is a notable avenue for government jobs without exams. Organizations like Indian Railways, Indian Army, and Public Sector Banks reserve job positions, such as Assistant Station Master and Ticket Collector, for individuals excelling in sports at the national or international level.</p>
    <h2 style="color:rgb(9, 16, 198);">What is the qualification of government?</h2>
    <p>The minimum educational qualification for most of the renowned Government jobs is Graduation. However, candidates can start their preparation before the graduation/ once the 12th Board gets over. For the detailed list of upcoming government exams candidates can check the link provided below.</p>
        
    </div>
    <div class="card">
      <h2 style="color:rgb(9, 16, 198);">Top 10 Books for SSC CGL Exam Preparation</h2>
      
      <p></p>
      <ol>
        <li>"Quantitative Aptitude” by R.S. Aggarwal</li>
      <li>“A Modern Approach to Verbal & Non-Verbal Reasoning” by R.S. Aggarwal</li>
      <li>“English Grammar in Use” by Raymond Murphy</li>
      <li>“Objective General English” by S.P. Bakshi</li>
      <li>“Manorama Yearbook” by Mammen Mathew</li>
      <li>“Fast Track Objective Arithmetic” by Rajesh Verma</li>
      </ol> 
      <h2 style="color:rgb(9, 16, 198);">Top 10 Books for Bank PO Exam Preparation</h2>
      <ol>
      <li>“Quantitative Aptitude for Competitive Examinations” by R.S. Aggarwal</li>
      <li>“Reasoning Ability” by Arihant Experts</li>
      <li>“Objective English” by S.P. Bakshi</li>
      <li>“Banking Awareness” by Arihant Experts</li>
      <li>“Data Interpretation and Data Sufficiency” by Arun Sharma</li>
      
      </ol>

      
    </div>
  </div>
  
  </div>
</div>
<style>
    #div1 {
      font-size:48px;
    }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <body>
    
   <center><div id="div1" class="fa"></div></center>
    <script>
        
    function brakechain() {
      var a;
      a = document.getElementById("div1");
      a.innerHTML = "&#xf0c1;";
      setTimeout(function () {
          a.innerHTML = "&#xf127;";
        }, 1000);
    }
    brakechain();
    setInterval(brakechain, 2000);
    </script>
    <center><a href="https://www.tn.gov.in/job_opportunity"  style="color:rgb(9, 16, 198);">Tamil nadu Government Portal</a> 
        <center><a href="https://www.tngovernmentjobs.in/"  style="color:rgb(9, 16, 198);">Tngovernmentjobs</a> 
            <center><a href="https://www.dailyrecruitment.in/tamilnadu-government-jobs/" style="color:rgb(9, 16, 198);">dailyrecruitment.in</a> 
  <center><b><p>GOVERNMENT JOBS UPDATE LINKS</p></b></center>


</body>
</html>




<footer class="bg-dark py-3 bg-2">
<div class="container">
    <p class="text-center text-white pt-3 fw-bold fs-6">© 2024 Adept, all right reserved</p>
</div>

</footer> 


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>